<!DOCTYPE html>
<html>
    <head>
        <title>That's an Error!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/404.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/t-icon.ico">
    </head>
    <body>
<div id="404-header">
	<h1>404 Error!</h1>
	<br>
	<p>Well, you weren't supposed to see this page, but "thankfull"y we've included pictures of cute dogs!</p>
	<br>
	<a class="btn btn-success" href="/">Go Home</a>
	<br><br>
	<p class="thankfull">thankfull</p>
</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>