<%-include("partials/header")%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4 class="card-title">The Story Behind <span id="thankfullhome">thankfull</span></h4>
			<div class="card">
				<div class="card-body">
					<p>On the morning of April 11th, 2020, one of my friends texted me and told me he was down in the dumps.
				I had never heard a negative thing out of him, so I knew I had to help. I told him that, for me, it was important to remind myself of all the good in my life, even small things, normal things, to most of us like fast internet and hot showers. A lot of times we don't realize all the good we have in our lives, no matter how big or how small. Thus, the next day, I made a Python program to open on my computer every time I start it up that tells me something good in my life and something good about myself, and now, I've taken that idea and built a website around those two lists so all of us can remind ourselves of all the good in our lives, and build a happy and positive community.
				</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%-include("partials/footer")%>